{extend name="public/base" /}

{block name="title"}空白页{/block}
{block name="pagetitle"}空白页{/block}
{block name="pagecss"}
    <!-- CSS -->
    <script type="text/javascript" src="__VENDOR__/tinymce/tinymce.min.js"></script>

{/block}
{block name="pagejs"}
    <!-- JavaScript -->
    <script type="text/javascript" src="__VENDOR__/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/..."></script>
{/block}

{block name="customjs"} 
    <script>
    	var test=1;
    	var test1=2;
    </script>

{/block}

{block name="main"}
	
    <!-- /.row -->
    <div class="row">
    			空白页
    </div>
    <!-- /.row -->

{/block}