{extend name="public/base" /}

{block name="title"}空白页{/block}
{block name="pagetitle"}空白页{/block}
{block name="pagecss"}
    <!-- CSS -->
    <link type="text/css" href="__VENDOR__/jstree/dist/themes/default/style.min.css" rel="stylesheet">

{/block}
{block name="pagejs"}
    <!-- JavaScript -->
    <script type="text/javascript" src="__VENDOR__/jstree/dist/jstree.min.js"></script>
{/block}

{block name="customjs"} 
    <script>
        $(function(){
            $('#role_wrap').jstree({
                "core":{
                    "themes":{
                        "name" : "default",
                        "dots" : true,
                        "icons" : false
                    },
                    'data' : {
                        "url" : "__VENDOR__/jstree/demo/basic/demo_data.json",//{:url('backend/menu/role')}
                        "dataType" : "json"
                      }
                },
                "plugins" : ["checkbox"],
            });

            $('#role_wrap').on("changed.jstree", function (e, data) {
                alert(111)
                $("#role").val(data.selected.join(","));
            });
            // 全部选中    
            $("#checkall").click(function(){
                $("#role_wrap").jstree($(this).prop("checked") ? "check_all" : "uncheck_all");
            });
            //全部展开
            $("#openall").click(function(){
                $("#role_wrap").jstree($(this).prop("checked") ? "open_all" : "close_all");
            });
        });

        console.log($.jstree);
        console.log($.jstree.version);
    </script>

{/block}

{block name="main"}
	
    <!-- /.row -->
    <div class="row">
    <form action="" method="post">
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls checkutil">
                <label> <input type="checkbox" id="checkall"> 全部选中</label>
                <label><input type="checkbox" id="openall"> 全部展开</label>
            </div>
        </div>    
        <div class="control-group">
            <label class="control-label">角色选择</label>
            <div class="controls" id="role_wrap"></div>
        </div>
        <input type="hidden" name="privs" id="role" value="" />
        <input type="submit" name="确认">
    </form>
    </div>
    <!-- /.row -->

{/block}