<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>仿Pinterest无限瀑布流动态加载图片</title>
	<style>
	* { margin:0; }
	#div1 { margin:0 auto 200px; position:relative; }
	.box { float:left; padding:10px; border:1px solid #ccc; background:#f7f7f7; box-shadow:0 0 8px #ccc; }
	.box:hover { box-shadow:0 0 10px #999; }
	.box img { width:200px; }
	</style>
	<!--[if IE]>
		<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
			<div id="div1">
			    <div class="box"><img src="__ADMIN__/img/pbl/01.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/02.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/03.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/04.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/05.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/06.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/07.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/01.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/02.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/03.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/04.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/05.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/06.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/07.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/01.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/02.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/03.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/04.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/05.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/06.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/07.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/01.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/02.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/03.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/04.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/05.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/06.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/07.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/01.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/02.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/03.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/04.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/05.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/06.jpg" alt=""></div>
			    <div class="box"><img src="__ADMIN__/img/pbl/07.jpg" alt=""></div>
			</div>
	
	<script src="__VENDOR__/jquery/jquery-1.9.1.min.js"></script>
	<script src="__ADMIN__/js/jquery.waterfall.js"></script>
	<script>
	$("#div1").waterfall({
	    itemClass: ".box",
	    minColCount: 2,
	    spacingHeight: 10,
	    resizeable: true,
	    ajaxCallback: function(success, end) {
	        var data = {"data": [
	            { "src": "03.jpg" }, { "src": "04.jpg" }, { "src": "02.jpg" }, { "src": "05.jpg" }, { "src": "01.jpg" }, { "src": "06.jpg" }
	        ]};
	        var str = "";
	        var templ = '<div class="box" style="opacity:0;filter:alpha(opacity=0);"><div class="pic"><img src="__ADMIN__/img/pbl/{{src}}" /></div></div>'

	        for(var i = 0; i < data.data.length; i++) {
	            str += templ.replace("{{src}}", data.data[i].src);
	        }
	        $(str).appendTo($("#div1"));
	        success();
	        end();
	    }
	});
	</script>
</body>
</html>